<!-- edit_job.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Edit Job</title>
</head>
<body>
    <h1>Edit Job</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="title">Title</label>
        {{ form.title(class="form-control") }}
        <label for="company">Company</label>
        {{ form.company(class="form-control") }}
        <label for="location">Location</label>
        {{ form.location(class="form-control") }}
        <label for="description">Description</label>
        {{ form.description(class="form-control") }}
        <label for="email">Email</label>
        {{ form.email(class="form-control") }}
        <button type="submit" class="btn btn-primary">Save Changes</button>

    </form>
</body>
</html>
