<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles2.css') }}"
    />
   
</head>
<body>
    <div class="container">
        <h2>Login Form</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", placeholder="Email") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Password") }}
            </div>
            <div class="form-group form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
</body>
</html>
