
<!DOCTYPE html>
<html>
  <head>
    <title>Post a Job</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Post a Job</h1>
      <form method="POST" class="job-form">
        <label for="title">Job Title:</label>
        <input type="text" id="title" name="title" required /><br />

        <label for="company">Company:</label>
        <input type="text" id="company" name="company" required /><br />

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" /><br />

        <label for="description">Job Description:</label>
        <textarea id="description" name="description" required></textarea><br />

        <label for="email">Contact Email:</label>
        <input type="email" id="email" name="email" required /><br />

        <input type="submit" value="Post Job" />
      </form>
      <a href="{{ url_for('index') }}">Back to Job Listings</a>

      
    </div>
  </body>
</html>
