<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style2.css') }}"
    />
   
</head>
<body>
    <div class="container">
        <h2>Registration Form</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", placeholder="Username") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", placeholder="Email") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Password") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
    </div>
</body>
</html>
